<div class="p-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Announcement</li>
    </ol>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Announcement</h4>
            <a href="/announcement/add" class="btn btn-primary mb-3 admin hide">Add Announcement</a>
            <table id="table" class="table table-striped table-bordered"></table>
            <template id="action">
                <a href="/announcement/edit/${id}" class="btn btn-secondary btn-sm">Edit</a>
                <button class="btn btn-danger btn-sm delete" data-id="${id}">Delete</button>
            </template>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        const table = $('#table').DataTable({
            ordering: true,
            searching: true,
            paging: false,
            ajax: '/api/announcement',
            columns: [
                { 
                    title: 'Date', 
                    data: 'date',
                    render: (data, type, row, meta) => moment(data).format('DD/MM/YYYY h:mm'),
                },
                { 
                    title: 'To', 
                    data: 'to',
                    render: (data, type, row, meta) => _.upperFirst(_.findKey(data, b => b)),
                },
                { title: 'Content', data: 'content' },
                { 
                    title: 'Actions', 
                    data: '_id',
                    render: (data, type, row, meta) => {
                        return $.cloneTemplate('#action', {
                            id: data,
                        }, {
                            insert: false,
                            html: true,
                        })
                    },
                },
            ],
        })
        
        $(document).on('click', '.delete', async event => {
            const AnnouncementConfirmed = await confirm('Are you sure you want to delete this announcement?');
            if (AnnouncementConfirmed) {
                const id = $(event.target).data('id')

                axios.delete(`/api/announcement/${id}`).then(({ data: response }) => {
                    console.log('response', response)
                    if (!response.success) {
                        return alert(`An error occurred: ${response.message}`)
                    }
                    window.location.href = '/announcement'
                })
            }
        })
    })
</script>
<%- contentFor('title') %>Announcement