<style>
    form {
        display: flex;
        flex-direction: column;
    }
</style>
<script>
    $(document).ready(() => {
        $('#addAnnouncementForm').on('submit', event => {
            event.preventDefault()
            const data = $.getFormData('#addAnnouncementForm')
            $.ajax({
                url: '/api/announcement/add',
                method: 'POST',
                success: response => {
                    console.log('response', response)
                    if (!response.success) {
                        $('#addAnnouncementForm .error').html(response.message)
                    }
                },
            })
        })
    })
</script>

<h1>
    Welcome,
    <%= user.name %>
    (Admin)
</h1>
<div class="board">
    <%- include('_announcement.ejs') %>
    <form id="addAnnouncementForm" class="card">
        <strong>Add Announcement</strong>
        <textarea name="content" rows="5" cols="40"></textarea>
        <label for="to">To:</label>
        <select name="to" required>
            <option value="all">All</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
        <button type="submit">Add</button>
        <div class="error"></div>
    </form>
</div>
<%- contentFor('title') %>Dashboard
