<style>
    .board {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
    .card {
        flex: 0 1 45%;
        padding: 12px;
        background: #e3e3e3;
        border-radius: 8px;
    }
</style>
<div id="announcement" class="card">
    <strong>Announcement</strong>
    <div class="content">
        <template id="announcementItem">
            <p>
                <span>${content}</span><br />
                <span>${date}</span>
            </p>
        </template>
    </div>
    <template id="announcementItemError">
        <div>${message}</div>
    </template>
</div>
<script>
    $(document).ready(() => {
        $.ajax({
            url: '/api/announcement',
            method: 'GET',
            success: response => {
                console.log('response', response)
                if (response.success) {
                    response.data.forEach(item => {
                        $.cloneTemplate('#announcementItem', {
                            content: item.content,
                            date: moment(item.date).format('MM-DD-YYYY h:mm'),
                        })
                    })
                } else {
                    $.cloneTemplate('#announcementItemError', {
                        message: 'Announcement not found',
                    })
                }
            },
        })
    })
</script>
