<div class="p-4">
    <template id="title">
        <h4 class="mb-4">Welcome, ${name}</h>
    </template>
    <%- include('block/announcement.ejs') %>
</div>
<script>
    $(document).ready(() => {
        $(document).on('userInfoEvent', (event, user) => {
            $.cloneTemplate('#title', { name: user.name })
        })
    })
</script>
<%- contentFor('title') %>Dashboard