<style>
    .grid {
        display: flex;
        gap: 16px;
        height: 627px;
    }
    .grid .card {
        flex: 1 0 45%;
    }
</style>

<div class="p-4">
    <template id="title">
        <h4 class="card-title">Welcome, ${name}</h4>
    </template>
    <div class="grid">
        <%- include('block/announcement.ejs') %>
        <%- include('block/course.ejs') %>
    </div>
</div>

<script>
    $(document).ready(() => {
        const setGridHeight = () => {
            const grid = $('.grid')
            const offset = grid.offset()
            grid.css('height', window.innerHeight - offset.top - 24)
        }

        $(window).on('resize', () => {
            setGridHeight()
        })

        $(document).on('userInfoEvent', (event, user) => {
            $.cloneTemplate('#title', { name: user.name })
            setGridHeight()
        })
    })
</script>
<%- contentFor('title') %>Dashboard