<!doctype html>
<html>

<head>
    <%- include('_head.ejs') %>
    <style>
        nav {
            width: 200px;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            background: #e5e5e5;
        }

        nav a {
            padding: 8px 12px;
        }

        .page {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        header {
            padding: 8px;
            display: flex;
            justify-content: end;
            gap: 12px;
            background: #f3f3f3;
            border-bottom: 1px solid #c3c3c3;
        }

        main {
            flex: 1;
            padding: 0 16px;
        }

        .admin.hide,
        .teacher.hide,
        .student.hide {
            display: none;
        }
    </style>
    <script>
        $(document).ready(() => {
            const navList = [
                { text: 'Dashboard', path: '/dashboard', access: ['admin', 'teacher', 'student'] },
                { text: 'User', path: '/user', access: ['admin'] },
                { text: 'Course', path: '/course', access: ['admin', 'teacher'] },
                { text: 'Calendar', path: '/calendar', access: ['admin', 'teacher', 'student']},
            ]
            $.ajax({
                url: '/api/user/info',
                method: 'GET',
                success: response => {
                    console.log('response', response)
                    if (!response.success) {
                        return window.location.href = '/'
                    }
                    const user = response.data

                    // set nav
                    navList.forEach(nav => {
                        if (!nav.access.includes(user.role)) return
                        $.cloneTemplate('#navItem', nav)
                    })

                    // set header
                    $.cloneTemplate('#userInfo', user)

                    // display block by role 
                    $(`.${user.role}`).removeClass('hide')

                    // trigger event if other needed user info
                    $(document).trigger('userInfoEvent', user)
                },
            })

            $(document).on('click', '.logout', event => {
                localStorage.clear()
                window.location.href = '/'
            })
        })
    </script>
    <%- style %>
    <%- script %>
</head>

<body>
    <nav>
        <template id="navItem">
            <a href="${path}">${text}</a>
        </template>
    </nav>
    <div class="page">
        <header>
            <template id="userInfo">
                <div class="username">${name} (${role})</div>
                <div class="email">${email}</div>
                <button class="logout">Logout</button>
            </template>
        </header>
        <main><%- body %></main>
    </div>
</body>

</html>