<!doctype html>
<html>
<head>
    <%- include('_head.ejs') %>
    <style>
        nav.main {
            min-height: 100vh;
            flex: 0 0 200px;
            flex-direction: column;
            padding: 12px;
        }
        nav.main hr {
            border-color: #bfbfbf;
        }
        nav.main .logo {
           display: flex;
           align-items: center;
        }
        nav.main .logo i {
           font-size: 30px;
        }
        .page {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        header {
            padding: 0 8px;
            display: flex;
            justify-content: end;
            gap: 12px;
            background: #fff;
            border-bottom: 1px solid #e1e1e1;
        }
        main {
            flex: 1;
        }
        .admin.hide,
        .teacher.hide,
        .student.hide {
            display: none;
        }
        .userInfo .box {
            display: flex;
            align-items: center;
            gap: 12px;
        }
        .userInfo .box::after {
            content: none;
        }
        .userInfo .icon {
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
        .userInfo .info {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        .userInfo .role {
            font-size: 12px;
            color: #797979;
        }
    </style>
    <script>
        $(document).ready(() => {
            const navList = [
                { text: 'Dashboard', path: '/dashboard', access: ['admin', 'teacher', 'student'], icon: 'fa-solid fa-gauge-high' },
                { text: 'User', path: '/user', access: ['admin'], icon: 'fa-solid fa-user' },
                { text: 'Announcement', path: '/announcement', access: ['admin'], icon: 'fa-solid fa-bullhorn' },
                { text: 'Course', path: '/course', access: ['admin', 'teacher', 'student'], icon: 'fa-solid fa-book' },
                { text: 'Calendar', path: '/calendar', access: ['admin', 'teacher', 'student'], icon: 'fa-solid fa-calendar-days' },
                //{ text: 'Assignment', path: '/assignments', access: ['admin', 'teacher'], icon: 'fa-solid fa-file-pen' },
                { text: 'Attendance', path: '/attendance', access: ['admin', 'teacher'], icon: 'fa-solid fa-calendar-check' },
            ]
            axios.get('/api/user/info').then(({ data: response }) => {
                console.log('response', response)
                if (!response.success) {
                    return window.location.href = '/'
                }
                const user = response.data

                // set nav
                navList.forEach(nav => {
                    if (!nav.access.includes(user.role)) return
                    $.cloneTemplate('#navItem', {
                        ...nav,
                        active: window.location.pathname.startsWith(nav.path) ? 'active' : ''
                    })
                })

                // set header
                $.cloneTemplate('#userInfo', {
                    ...user,
                    role: _.upperFirst(user.role)
                })

                // display block by role 
                $(`.${user.role}`).removeClass('hide')

                // trigger event if other needed user info
                $(document).trigger('userInfoEvent', user)
            })

            $(document).on('click', '.logout', event => {
                localStorage.clear()
                window.location.href = '/'
            })
        })
    </script>
    <%- style %>
    <%- script %>
</head>

<body>
    <nav class="main text-white bg-dark">
        <a href="/dashboard" class="logo text-white text-decoration-none">
            <i class="fa-solid fa-graduation-cap mr-3"></i>
            <h5 class="m-0">LMS</h5>
        </a>
        <hr class="text-white">
        <ul class="nav nav-pills flex-column mb-auto">
            <template id="navItem">
                <li class="nav-item">
                    <a href="${path}" class="nav-link text-white ${active}">
                        <i class="mr-2 ${icon}"></i>
                        ${text}
                    </a>
                </li>
            </template>
        </ul>
    </nav>
    <div class="page">
        <header>
            <template id="userInfo">
                <div class="userInfo dropdown">
                    <button class="box btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="icon fa-solid fa-circle-user"></i>
                        <div class="info">
                            <strong class="name">${name}</strong>
                            <div class="role">${role}</div>
                        </div>
                    </button>
                    <div class="menu dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item disabled">${email}</div>
                        <button class="dropdown-item active logout" type="button">Logout</button>
                    </div>
                </div>
            </template>
        </header>
        <main><%- body %></main>
    </div>
</body>
</html>