.dt-length label {
 padding-left: 8px;
}

input[type="color"].form-control-color {
    height: 50px;
}

/* Custom styles for the modal */
.modal-content {
    border-radius: 10px;
}
.modal-header {
    background-color: #343a40;
    color: white;
}
.modal-footer .btn-primary {
    background-color: #007bff;
}
.close {
    color: #FFF;
}

  