<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/style/main.css' />
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>Name <%= user.name %></p>
    <p>role <%= user.role %></p>
  </body>
</html>
