<script>
    $(document).ready(() => {
        $('#addForm').on('submit', event => {
            event.preventDefault()
            const data = $.getFormData('#addForm')
            $.ajax({
                url: '/api/user/add',
                method: 'POST',
                data,
                success: response => {
                    console.log('response', response)
                    if (response.success) {
                        window.location.href = '/user'
                    } else {
                        $('.error').html(response.message)
                    }
                },
            })
        })
    })
</script>


<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">New User Registration</h2>
            <form id="addForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required />
                  </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required />
              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select id="role" name="role" class="form-control" required>
                    <option value="admin">Admin</option>
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary w-100">
                Add User
              </button>

              <div class="error"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- <form id="addForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required /><br />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required /><br />
    <label for="role">Role:</label>
    <select id="role" name="role" required>
        <option value="admin">Admin</option>
        <option value="teacher">Teacher</option>
        <option value="student">Student</option></select
    ><br />
    <button type="submit">Add User</button>
    <div class="error"></div>
</form> -->
<%- contentFor('title') %>User
