<link
    rel="stylesheet"
    href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css"
/>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script>
    $(document).ready(() => {
        const table = $('#table').DataTable({
            ordering: true,
            searching: true,
            paging: true,
            ajax: '/api/user',
            columns: [
                { title: 'Name', data: 'name' },
                { title: 'Email', data: 'email' },
                { title: 'Role', data: 'role' },
                {
                    data: 'button',
                    render: (data, type, row, meta) => {
                        return `<button class="btn btn-danger btn-sm delete-course delete" data-id="${row?._id}">Delete</button>`
                    },
                },
            ],
        })
        $(document).on('click', '.delete', event => {
            $.ajax({
                url: `/api/user/${$(event.target).data('id')}`,
                method: 'DELETE',
                success: response => {
                    console.log('response', response)
                    if (response.success) {
                        table.ajax.reload()
                    }
                },
            })
        })
    })
</script>
<div class="container mt-4">
    <h2>User</h2>
        <a href="/user/add" class="btn btn-primary mb-3 admin hide">Add New User</a>
        <table id="table" class="table table-striped table-bordered" ></table>
</div>
<%- contentFor('title') %>User
