<link
    rel="stylesheet"
    href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css"
/>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script>
    $(document).ready(() => {
        const table = $('#table').DataTable({
            ordering: false,
            searching: false,
            paging: false,
            ajax: '/api/user',
            columns: [
                { title: 'Name', data: 'name' },
                { title: 'Email', data: 'email' },
                { title: 'Role', data: 'role' },
                {
                    data: 'button',
                    render: (data, type, row, meta) => {
                        return `<button class="delete" data-id="${row?._id}">Delete</button>`
                    },
                },
            ],
        })
        $(document).on('click', '.delete', event => {
            $.ajax({
                url: `/api/user/${$(event.target).data('id')}`,
                method: 'DELETE',
                success: response => {
                    console.log('response', response)
                    if (response.success) {
                        table.ajax.reload()
                    }
                },
            })
        })
    })
</script>
<a href="/user/add">Add</a>
<table id="table"></table>
<%- contentFor('title') %>User
