<style>
    .btn:disabled {
        opacity: 1;
    }
</style>
<div class="p-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Attendance</li>
    </ol>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Attendance</h4>
            <table id="table" class="table table-striped table-bordered"></table>
            <template id="reminder">
                <button class="btn btn-sm ${class}" disabled>
                    <i class="fa-solid ${icon}"></i>
                    ${text}
                </button>
            </template>
            <template id="action">
                <a href="/attendance/mark/${id}" class="btn btn-primary btn-sm">Mark Attendance</a> 
            </template>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        const table = $('#table').DataTable({
            ordering: true,
            searching: true,
            paging: false,
            ajax: '/api/course',
            columns: [
                { title: 'Course Name', data: 'name' },
                { title: 'Teacher', data: 'teacher.name' },
                { 
                    title: 'Start Date', 
                    data: 'startDate',
                    render: (data, type, row, meta) => moment(data).format('DD/MM/YYYY')
                },
                { 
                    title: 'End Date', 
                    data: 'endDate',
                    render: (data, type, row, meta) => moment(data).format('DD/MM/YYYY')
                },
                {
                    title: 'Reminder',
                    // data: 'excludeDates',
                    render: (data, type, row, meta) => {
                        let hasClassToday = false
                        if (moment().isBetween(row.startDate, row.endDate)) {
                            hasClassToday = !row.excludeDates.some(date => moment().isSame(date, 'day'))
                        }
                        return $.cloneTemplate('#reminder', {
                            class: hasClassToday ? 'btn-outline-info' : 'btn-outline-secondary',
                            text: hasClassToday ? 'Have classes today' : 'No classes today',
                            icon: hasClassToday ? 'fa-circle-check' : 'fa-circle-xmark',
                        },{
                            insert: false,
                            html: true,
                        })
                    },
                },
                {
                    title: 'Actions', 
                    data: '_id',
                    render: (data, type, row, meta) => {
                        return $.cloneTemplate('#action', {
                            id: data,
                        }, {
                            insert: false,
                            html: true,
                        })
                    },
                }
            ],
        })
    })
</script>
<%- contentFor('title') %>Attendance