<div class="p-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Attendance </li>
    </ol>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Attendance - Active Courses</h4>
            <table id="table" class="table table-striped table-bordered"></table>
            <template id="action">
                <button class="btn btn-danger btn-sm delete" data-id="${id}">Delete</button>
            </template>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        const table = $('#table').DataTable({
            ordering: true,
            searching: true,
            paging: false,
            ajax: '/api/course',
            columns: [
            { title: 'Course Name', data: 'name' },
            { title: 'Teacher', data: 'teacher.name' },
            { 
                title: 'Start Date', 
                data: 'startDate',
                render: function (data, type, row, meta) {
                    return moment(data).format('DD/MM/YYYY');
                }
            },
            { 
                title: 'End Date', 
                data: 'endDate',
                render: function (data, type, row, meta) {
                    return moment(data).format('DD/MM/YYYY');
                }
            },
            {
                data: '_id',
                render: function (data, type, row, meta) {
                    if (moment().isBetween(row.startDate, row.endDate)) {
                        return `
                        <a href="/attendance/add/${data}" class="btn btn-primary btn-sm">Mark Attendance</a>
                        <a href="/attendance/records/${data}" class="btn btn-secondary btn-sm">View Attendance</a>
                        `;
                    } else {
                        return `<button class="btn btn-secondary btn-sm" disabled>No class today</button>
                        <a href="/attendance/records/${data}" class="btn btn-secondary btn-sm">View Attendance</a>`;
                    };
                },
            }
            ],
        })
    })
</script>
<%- contentFor('title') %>List Active Course