<style>
    .announcement .body {
        overflow-y: scroll;
        flex: 1;
    }
    .announcement .content {
        overflow-y: scroll;
    }
</style>

<div class="announcement card">
    <div class="card-body">
        <h4 class="card-title">Announcement</h4>
        <div class="content">
            <template id="announcementItem">
                <p class="card-text">
                    ${content}
                    <br/>
                    ${date}
                </p>
            </template>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        axios.get('/api/announcement').then(({ data: response }) => {
            console.log('response', response)
            if (response.success) {
                response.data.forEach(item => {
                    $.cloneTemplate('#announcementItem', {
                        content: item.content,
                        date: moment(item.date).format('DD/MM/YYYY h:mm'),
                    })
                })
            } else {
                $.cloneTemplate('#announcementItemError', {
                    message: 'Announcement not found',
                })
            }
        })
    })
</script>
