<div class="card">
    <div class="card-body">
        <strong class="card-title">Announcement</strong>
        <div class="body">
            <template id="announcementItem">
                <p class="card-text">
                    ${content}
                    <br/>
                    ${date}
                </p>
            </template>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $.ajax({
            url: '/api/announcement',
            method: 'GET',
            success: response => {
                console.log('response', response)
                if (response.success) {
                    response.data.forEach(item => {
                        $.cloneTemplate('#announcementItem', {
                            content: item.content,
                            date: moment(item.date).format('MM-DD-YYYY h:mm'),
                        })
                    })
                } else {
                    $.cloneTemplate('#announcementItemError', {
                        message: 'Announcement not found',
                    })
                }
            },
        })
    })
</script>
