<style>
    .announcement {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .announcement .content {
        flex: 1;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .announcement .item {
        background: #fbfbfb;
    }
    .announcement .item span {
        align-self: end;
    }
</style>

<div class="card">
    <div class="announcement card-body">
        <h4 class="card-title">Announcement</h4>
        <div class="content">
            <template id="announcementItem">
                <p class="item card p-3 text-muted">
                    <b>${content}</b>
                    <span>${date}</span>
                </p>
            </template>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        axios.get('/api/announcement').then(({ data: response }) => {
            console.log('response', response)
            if (response.success) {
                response.data.forEach(item => {
                    $.cloneTemplate('#announcementItem', {
                        content: item.content,
                        date: moment(item.date).format('DD-MM-YYYY h:mm'),
                    })
                })
            } else {
                $.cloneTemplate('#announcementItemError', {
                    message: 'Announcement not found',
                })
            }
        })
    })
</script>
